*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif; /*aplicar fuente a todos los body */
    
}


h1{
    color: #FF3EB4;
   /* font-size: 700; /* 100/500/700 */

}

h2 {
    color: #FF3EB4;
   /* font-size: 500;*/
}

h3 {
    font-family: 'Roboto', sans-serif;
}



h5{
    font-size: 30px;
}

p {
  /*  font-size: 100;*/
    line-height: 1.5;
}

ol {
    list-style-type: none;
    }

ul {
    list-style-type: none;
    }

article {
    padding: 50px 30px 20px 60px;
    margin-left: 20px;
    }

    .footer_texto {
        padding-top: 3%;
        text-align: right;
    }

.navBarColor{
        background-color:#FA8EC2;
        &__footer {
            display: flex;
            font-family: 'Roboto', sans-serif; 
            background-color:#FA8EC2;
            padding-left: 2rem;
            padding-right: 2rem;
            width: 100%;
            height: 20%;
            word-spacing: 1px;
            justify-content: space-between;
            justify-items: center;
            align-items: center;
        }
    
}

$rrss: (
    whatsapp: #42EC67 ,
    instagram: #c92d8f ,
    facebook: #129AF6 ,
);

@each $name, $color in $rrss {
    .#{$name}{
        background-color: $color;
        margin: 0 5px;
        padding: 10px;
        color: #fff;
        border-radius: 20px;
    }
}