

/* PLANILLA DE ESTILOS WEB MISS UÑAS */

/* Selector universal para todos los elementos HTML */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif; /*aplicar fuente a todos los body */
    
}


h1{
    color: #FF3EB4;
   /* font-size: 700; /* 100/500/700 */

}

h2 {
    color: #FF3EB4;
   /* font-size: 500;*/
}

h3 {
    font-family: 'Roboto', sans-serif;
}



h5{
    font-size: 30px;
}

p {
  /*  font-size: 100;*/
    line-height: 1.5;
}

ol {
    list-style-type: none;
    }

ul {
    list-style-type: none;
    }

article {
    padding: 50px 30px 20px 60px;
    margin-left: 20px;
    }






    /* CODIGO HEADER IRÍA ACÁ */





    

.form-contacto {
    color: black;
    }




/*
.footer_imagen {
    width: 80px;
    height: 60px;
    position: fixed;
}
*/


.gridInicio{
    /*padding: 2rem;*/
    /*padding-top: 6rem;*/
    display: grid;
    grid-template-rows: repeat(4, 350px);
    grid-template-columns:  repeat(2, 1fr);
    grid-template-areas: 
        "ele1 ele1"
        "ele2 ele3"
        "ele4 ele5"
        "ele6 ele6";

    row-gap: 1rem;
    column-gap: 1rem;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}
/*
.caja__inicio{
    margin-top: 1.5rem;
    margin-bottom: 10rem;
}
*/

.fondoPagina{
    background-image: linear-gradient(180deg, #ffffff, #d6acad);   
}

.gridHijo1 {
    width: 100%;
    height: 100%;
    grid-area: ele1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  
}

.gridHijo1Texto{
        position: absolute;
        left: 12rem;
        top: 29rem;
        color: rgba(255, 255, 255, 50);
        text-shadow: 1;
        font-size: 50px;
        justify-content: center;
        text-transform: uppercase;

}



.gridHijo2Marcas {
    grid-area: ele3;
    font-size: 20px;
    text-align: left;
}
/*
.gridHijo2Marcas:hover {
    transform: scale(1.2);
}

*/
.gridHijo2Titulo{
    text-transform: uppercase;
    font-size: 40px;
}

.logoMarcas{
    grid-area: ele2;
    background-color: #B10055;
}

.gridHijo3Texto{
    text-transform: uppercase;
    font-size: 60px;
    grid-area: ele4;
}


/*APLICANDO EXTEND*/
.gridInicioTextosTemplate {
    @extend .gridHijo3Texto;
}


/*APLICANDO MIXIN*/

@mixin mixinLista ($tamanoLetra) {
    font-family: 'Roboto', sans-serif;
    font-size: $tamanoLetra;
    padding-top: 1rem;
   }



.lista {
@include mixinLista (10px);
   }

    

@each $heading in (h3, h4) {
    #{$heading}{
        text-transform: uppercase;
    }
}
/*
.gridHijo3Texto:hover {
    transform: scale(1.2);
}

*/


.caja__inicio__mapa {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    grid-area: ele6;
    
}

.gridImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:  center;
}



.caja__inicio__horarios{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    grid-area: ele6;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}

.caja__inicio__horarios__texto{
    font-size: 40px;
}



.contacto{
    font-family: 'Roboto', sans-serif;
}


.caja__faq__imagen{
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    
}

.caja__faq__texto{
    line-height: 2rem;
    padding-bottom: 20px;
}

.servicios__imagen{
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    
}

.caja__servicios{
    padding-top: 2rem;
    padding-bottom: 10rem;
    font-size: 30px;

}

.servicios {
    color: black;
}

.servicios__tipo-servicios{
    color:#B10055;
    font-size: 100;
    margin-bottom: 1rem;
    font-size: 20px;
    padding-right: 5%;
}

.caja__nosotros{
    
    /*padding-top: 2rem; */
    padding-bottom: 5rem; 
    font-size: 30px;

}

.caja__nosotros__imagen{
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.caja__mapa{
    width: 100%;
    height: 100%;
    grid-area: ele5;
}








.botonNavegacionEnlace{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-items: center;
    font-size:large;
    
}


.botonReservas{
    text-decoration: none;
    text-transform: uppercase;
    word-spacing: 3px;
    color: #B10055; 
    border-style: groove;
    border-radius: 5px;
    background-color: $bgColor;
    align-content: center;
    justify-items: center;
    width: max-content;
    letter-spacing: 3px;
}

.botonReservas:hover{
    transform: scale(1.05);
}

/*
.transitionFx{
    transition: transform 2s;
    }
    
*/

.animacionImagenSuperior{
    animation-name: efectoSuperior;
    animation-duration: 1s;
}

.animacionImagenLateral{
    animation-name: efectoLateral;
    animation-duration: 4s;
}

.animacionTexto{
    animation-name: efectoTexto;
    animation-duration: 6s;
}


@keyframes efectoSuperior {
    from{
opacity: 0;
    }

    to{
opacity: 1;
    }
}

@keyframes efectoLateral {
    from{
opacity: 0;
    }

    to{
opacity: 1;
    }
}

@keyframes efectoTexto {
    from{
opacity: 0;
    }

    to{
opacity: 1;
    }
}




/* ESTILOS MOBILE */

@media screen and (max-width: 1023px) { /*VISTA PC*/
    /*body{
        background-color: #B10055;
        
    }*/
    
}

@media screen and (max-width: 768px) { /*VISTA TABLET*/
    .gridFaq3{
        justify-content: center;
        justify-items: center;
        padding-left: 0%;
    }
}

@media screen and (max-width: 425px) { /*Vista Mobile*/
   /* body{
        background-color: blue;
        padding: 0%;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        justify-items: center;
        padding-left: 0%;
        
    }*/

   /* header{
        flex-direction: column;
        align-content: center;
        justify-content: center;
        justify-items: center;
        align-items: baseline;
        padding-left: 0%;
        padding-bottom: 2rem;
    }*/
    .cabeceraFlex{
        flex-direction: column;
        padding-left: 0%;
        padding-right: 0%;
        align-items: center;
        justify-content: center;
        height: 20%;
        margin-bottom: 10rem;
        
    }


    .navegacion{
        display: block;
        object-fit: cover;
        object-position: top center;

    }

    .listaHeader{
        display: block;
        text-align: center;
        padding-left: 2rem;
    
    }
    .gridHijo1Texto{
        font-size: 20px;
        margin: 1rem;
        padding-top: 5rem;
        justify-items: center;

    }

    .gridInicio{
        padding-top: 11rem;
        padding-bottom: 5rem;
        display: grid;
        grid-template-rows: repeat(6, 290px);
        grid-template-columns:  repeat(1, 1fr);
        grid-template-areas: 
            "ele1"
            "ele3"
            "ele2"
            "ele4"
            "ele5"
            "ele6"
            "ele7"
            "ele8";
    
        row-gap: 1rem;
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;   
        
    }

    .caja__inicio__horarios{
        padding-top: 10rem;
        height: 60px;
        font-size: 40px;
        
    }

    .nosotrosGrid{
        padding-top: 11rem;
    }
    
    .gridInicioServicios{
        padding-top: 11rem;
    }

    .gridInicioServicios{
        padding: 2rem;
        padding-top: 6rem;
        display: grid;
        grid-template-rows: repeat(4, 500px);
        grid-template-columns:  repeat(2, 1fr);
        grid-template-areas: 
            "ele1 ele1"
            "ele2 ele3"
            "ele4 ele5"
            "ele6 ele7";
    
        row-gap: 1rem;
        column-gap: 1rem;
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;   
    
    }
 
    .gridFaq{
        padding-top: 11rem;
        padding-bottom: 20rem;

    }

    .gridHijo1TextoFaq{
        padding-left: 0rem;
    }

    .gridFaq3{
        flex-direction: column;
        align-items: center;
        padding-top: 20rem;
    }

}